@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Avenir';
    font-weight: 300;   /* font-light */
    src: url('/fonts/Avenir/AvenirLight.woff2') format('woff2'),
         url('/fonts/Avenir/AvenirLight.woff') format('woff'),
         url('/fonts/Avenir/AvenirLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 400;   /* font-normal */
    src: url('/fonts/Avenir/AvenirRoman.woff2') format('woff2'),
         url('/fonts/Avenir/AvenirRoman.woff') format('woff'),
         url('/fonts/Avenir/AvenirRoman.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 500;   /* font-medium */
    src: url('/fonts/Avenir/AvenirMedium.woff2') format('woff2')
         url('/fonts/Avenir/AvenirMedium.woff') format('woff')
         url('/fonts/Avenir/AvenirMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Avenir';
    font-weight: 800;   /* font-extrabold */
    src: url('/fonts/Avenir/AvenirHeavy.woff2') format('woff2'),
         url('/fonts/Avenir/AvenirHeavy.woff') format('woff'),
         url('/fonts/Avenir/AvenirHeavy.ttf') format('truetype');
}

@layer components {
  .header-gradient {
    background: radial-gradient(120% 177.59% at -20% 100%, rgba(255, 255, 255, 0.80) 0%, rgba(211, 237, 252, 0.80) 35.46%, rgba(178, 224, 250, 0.80) 57.09%, rgba(138, 199, 244, 0.80) 76.71%, rgba(63, 150, 234, 0.80) 100%);
  }
}